*.html
*.redxml
*.swp
.DS_Store
draft-iab-path-signals-collaboration.txt
draft-arkko-path-signals-information.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
archive.json
report.xml
venv/
lib
draft-iab-path-signals-collaboration.xml
draft-iab-path-signals-collaboration-pre.xml
metadata.min.js
