*.html
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
archive.json
report.xml
venv/
lib
draft-iab-path-signals-collaboration.xml
draft-iab-path-signals-collaboration-pre.xml
